@use "../abstracts/functions" as *;
@use "../abstracts/breakpoints" as *;

.hero {
	display: grid;
	height: calc(100vh - 129.7667px);
	margin: 0 min(135px, 8vw);
	place-items: center;
	background: color(Gray-clr) url(../images/main/hero.jpg) no-repeat center/cover;

	@include respond(xl-b) {
		height: calc(100vh - 138.8px);
	}

	&__logo {
		color: color(Hero);
		font-size: 4.5rem;
		text-align: center;
		margin: 0;
		user-select: none;

		@include respond(md) {
			font-size: 8.5rem;
		}
	}
}
