@use "../abstracts/function" as *;

.badge {
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 0.5rem;
	border: 2px solid color(Black-clr);
	box-shadow: 2px 2px 2px rgba(color(Black-clr), 0.2);

	&.badge--green {
		background-color: color(Green-clr);
	}
}
