@use "../abstracts/function" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	color: color(Black-clr);
	font-family: font(Ubuntu);
	background-color: color(Primary);
}

a {
	color: color(Black-clr);
	font-style: italic;
	outline: none;
	text-underline-offset: 3px;
	text-decoration-thickness: 2px;
	transition: text-decoration 0.2s ease-out;

	&:hover,
	&:focus,
	&:focus-within {
		text-decoration-color: color(Cyan-clr);
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
