@use "./functions" as *;
@use "./breakpoints" as *;

.container {
	margin: 0 auto;
	background-color: color(White-clr);

	@include respond(xxl) {
		max-width: 1600px;
	}
}

.image-main {
	width: min(1333px, 83.3vw);
	margin: 0 auto;
}

.link--active {
	color: color(Active) !important;
}

.link--arrow {
	&::after {
		content: "\203A";
		display: inline-block;
		margin-left: 0.3rem;
	}
}
