@font-face {
	font-family: "Futura";
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/Futura/FuturaPTMedium.woff);
}
@font-face {
	font-family: "Futura";
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/Futura/FuturaPTBook.woff);
}

$fonts: (
	"Futura": ("Futura", sans-serif)
)
