@use "../abstracts/function" as *;
@use "../abstracts/breakpoints" as *;

.solution {
	display: grid;
	gap: 1.5rem;
	padding: 0 1rem;
	margin-top: 4rem;

	@include respond(sm) {
		grid-template-columns: repeat(2, 1fr);
	}
	@include respond(lg) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include respond(xl) {
		grid-template-columns: repeat(4, 1fr);
	}

	&__item {
		display: flex;
		position: relative;
		flex-direction: column;
		transition: transform 0.25s ease-out;
		box-shadow: 2px 2px 2px rgba(color(Black-clr), 0.2);

		&.active,
		&:hover {
			transform: translateY(-10px);
		}

		&.active {
			.solution__link {
				text-decoration-color: color(Cyan-clr);
			}
		}
	}

	&__img-container {
		display: inline-block;
		border: 2px solid color(Black-clr);
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center top;
	}

	&__content {
		font-size: 1.2rem;
		padding: 0.8rem;
		border: 2px solid color(Black-clr);
		border-top: none;
		background-color: color(Secondary);
	}
}
