@use "../abstracts/functions" as *;
@use "../abstracts/breakpoints" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	color: color(White-clr);
	background-color: color(Secondary);
}

body {
	color: color(Black-clr);
	font-family: font("Futura");
	background-color: color(Main);
}

img,
svg {
	display: block;
	height: auto;
}
