@use "../abstracts/functions" as *;
@use "../abstracts/breakpoints" as *;

a {
	color: color(Black-clr);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

h2 {
	font-size: 1.5rem;
}
