@use "../abstracts/functions" as *;
@use "../abstracts/breakpoints" as *;

.images {
	position: relative;

	.shape {
		position: relative;
	}

	&__container {
		display: flex;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		align-items: center;
		margin: 0 min(135px, 8vw);
		transform: translateY(-50%);
		justify-content: space-between;
	}

	.photo {
		object-fit: cover;
	}

	&-one {
		.square {
			left: calc(100% - 58.5vw);
			width: min(933.5px, 58.5vw);
			height: min(933.5px, 58.5vw);
			background-color: color(Shape-a);

			@include respond(xxl) {
				left: calc(100% - 933.5px);
			}
		}

		.photo-a {
			width: min(667px, 42vw);
			height: min(667px, 42vw);
		}
		.photo-b {
			width: min(533.5px, 33.5vw);
			height: min(400px, 25vw);
		}
	}

	&-two {
		.rectangle {
			width: min(933.5px, 58.5vw);
			height: min(1200px, 75vw);
			background-color: color(Shape-b);
		}

		.section-one {
			display: flex;
			row-gap: min(133.5px, 8.5vw);
			align-items: flex-start;
			flex-direction: column;
		}

		.photo-a,
		.photo-b {
			width: min(533.5px, 33.33333vw);
			height: min(400px, 25vw);
		}
		.photo-c {
			width: min(667px, 42vw);
			height: min(667px, 42vw);
		}
	}

	&-three {
		.rectangle {
			left: calc(100% - 83.5vw);
			width: min(1067px, 67vw);
			height: min(933.5px, 58.5vw);
			background-color: color(Shape-c);

			@include respond(xxl) {
				left: calc(100% - 1333.5px);
			}
		}

		.images__container {
			margin: 0 0 0 min(135px, 8vw);
		}

		.photo-a {
			width: min(533.5px, 33.5vw);
			height: min(400px, 25vw);
		}
		.photo-b {
			width: min(667px, 42vw);
			height: min(667px, 42vw);
		}
	}
}
