@use "../abstracts/breakpoints" as *;
@use "../abstracts/functions" as *;

.nav-scroll {
	display: flex;
	padding: 1.4rem 1.25rem 1.3rem;
	column-gap: 1.28rem;
	align-items: center;
	transition: top 0.3s ease-out;
	background-color: rgba(color(White-clr), 0.9);

	&.active {
		top: 0;
	}

	@include respond(lg) {
		position: sticky;
		top: -66px;
		left: 0;
		right: 0;
		z-index: 9;
	}

	@include respond(xl-b) {
		padding: 1.65rem 2.5rem 1.5rem;
		column-gap: 1.85rem;
	}

	a {
		font-size: 0.9rem;

		@include respond(xl-b) {
			font-size: 1rem;
			font-weight: 500;
		}
	}
}
